<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee CRUD</title>
</head>
<body>
    <h2>Employee List</h2>

    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Add Employee</button>
        <h1> </h1>
    </form>

    <table border="1">
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Actions</th>
        </tr>
        {% for employee in employees %}
        <tr>
            <td>{{ employee.name }}</td>
            <td>{{ employee.email }}</td>
            <td>{{ employee.phone }}</td>
            <td>{{ employee.address }}</td>
            <td>
                <a href="{% url 'employee_update' employee.id %}">Edit</a> |
                <a href="{% url 'employee_delete' employee.id %}" onclick="return confirm('Are you sure? you wanted to deleted Employee')">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>
